.metric-cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.metric-cards .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(8, 8, 10, 0.4);
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;

    width: 100%;
    /* min-width: 100px; */
}

.page-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    background-color: rgba(8, 8, 10, 0.4);
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
}