.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem 2rem;

    /* background-color: aqua; */
}










































/* .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
}





.main-content-intro {
    background-color: #1f201d;
    padding: 0.5rem;
    border-radius: 10px;
}


.content-card {
    background-color: #1f201d;
    padding: 0.25rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.content-card-top {
    padding: 0.75rem 1rem;
}

.product-card-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}



.product-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #151515;
    padding: 1rem;
    border-radius: 0.8rem;
}

.prod-info-left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
} */