/* bc: #050505 */
/* content bc: #151515 */
/* content cards bc: #1f201d */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: Google Sans;
    color: white;
    background-color: rgb(8, 8, 10);
    background-color: #111;
    /* background-color: #000; */
    background-color: #0c0c0c;
    background-color: #0A0A0A;
    background-color: #101010;
    /* background-color: #000; */
    /* background: rgba(255, 255, 255, 0.02); */

    display: flex;
    height: 100vh;
    flex-direction: row;
    /* justify-content: space-evenly; */
    overflow-y: hidden;
    /* overflow-x: none; */

    /* max-width: 1000px; */

}


p {
    margin: 0;
}



main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    /* margin: auto; */

    /* max-width: 1000px; */
    /* margin: auto; */
    /* margin: 1rem;
    margin-left: 0; */

    /* background-color: aqua; */
    position: relative;

    overflow-y: auto;
    /* overflow-x: hidden; */

    scrollbar-width: thin;
    scrollbar-color: #777 transparent;
}

.add-btn-container {
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    z-index: 1;
}

.add-btn-container .add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;

    border: none;
    border-radius: 50%;
    background-color: rgb(90, 110, 245);
    color: black;

    font-size: 30px;
    font-family: Google Sans;
    padding-bottom: 5px;

    cursor: pointer;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 0 20px 8px rgba(90, 110, 245, 0.2);
}

.add-btn-container .add-btn:hover {
    /* box-shadow: 0 0 20px 10px rgba(90, 110, 245, 0.2); */
    background-color: rgba(65, 85, 220);
}

/* .add-btn-container:has(.add-btn:hover) {
    background-color: rgba(90, 110, 245, 0.25);
} */

.page-scroll {
    display: flex;
    overflow-y: auto;

    scrollbar-width: none;
    scroll-behavior: smooth;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 2rem;
    padding: 1rem;
    flex-grow: 1;

    width: calc(100% - 2rem);
    width: 100%;
    min-width: 0;

    max-width: 896px;
    /* max-width: 1000px; */
    margin: auto;
    /* min-height: 0; */


    /* overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #777 transparent; */



    /* background-color: #0c0c0c; */
    /* background-color: #111; */
    /* background-color: #080808 */
    /* background-color: rgba(0, 0, 0, 0.4);
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem; */
}

.page-header {
    padding: 1rem 1.5rem;
    padding: 1rem;
    /* padding-right: ; */

    /* border-bottom: solid 1px rgba(255, 255, 255, 0.1); */

    /* border: none; */
    background-color: #111;
    background-color: #0a0a0a;
    background-color: #080808;
    /* background-color: #0c0c0c; */
    /* background-color: #0f0f0f; */
    /* background-color: rgba(255, 255, 255, 0.02); */
    /* padding: 1rem 2rem; */
    /* background-color: #000; */
}

.page-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    width: 100%;
    margin: auto;
    /* padding-left: -1rem; */

    max-width: 896px;
    /* max-width: 1000px; */
    /* max-width: 1250px;
    max-width: 1000px; */
}

.page-header .header {
    font-size: 18px;
    font-weight: 500;
    /* color: #ddd; */
}

.page-header .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5px;
    gap: 0.2rem;
    gap: 5px;
    gap: 0.5rem;
}

.page-header .actions.left {
    flex-grow: 1;
    gap: 10px;
    /* gap: 5px; */
}

.page-header .actions .spacing {
    height: 25px;
    width: 1px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.15);
}


.main-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 6px;

    font-family: Google Sans;
    font-size: 16px;
    font-weight: normal;

    color: #fff;
    background-color: transparent;
    /* background-color: #222; */

    cursor: pointer;
}

.main-menu-btn:hover {
    color: #ccc;
}

.main-menu-btn .icon {
    font-size: 23px;
    padding-bottom: 2px;
}

.main-menu-btn.hide {
    display: none;
}


.main-prod-search {
    flex-grow: 1;
    outline: none;
    border: none;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border-radius: 6px;
    /* padding: 0 10px; */
    padding: 0;

    font-family: Google Sans;

    font-size: 14px;
    background-color: #1e1e1e;
    /* background-color: transparent; */
    /* background-color: #111; */
    /* background-color: rgba(255, 255, 255, 0.08); */
    color: #fff;

    height: 30px;
    width: 100%;
}

.main-prod-search.nobc {
    background-color: transparent;
    font-size: 16px;
}

.main-notification-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 6px;

    font-family: Google Sans;
    font-size: 16px;
    font-weight: normal;

    color: #fff;
    background-color: transparent;

    cursor: pointer;
}

.main-notification-btn:hover {
    color: rgb(90, 110, 245);
}

.main-notification-btn .icon {
    font-size: 17px;
    padding-bottom: 2px;
}

.main-settings-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 6px;

    font-family: Google Sans;
    font-size: 16px;
    font-weight: normal;

    color: #fff;
    background-color: transparent;

    cursor: pointer;
}

.main-settings-btn:hover {
    color: rgb(90, 110, 245);
}

.main-settings-btn .icon {
    font-size: 22px;
    padding-bottom: 3px;
}



.main-add-prod-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    height: 30px;
    width: 30px;

    border: none;
    border-radius: 6px;

    font-family: Google Sans;
    font-size: 14px;

    cursor: pointer;

    background-color: transparent;
    color: #fff;

    /* background-color: white;
    color: black; */
}

.main-add-prod-btn:hover {
    color: #ccc;
    /* background-color: #ccc; */
}

.main-add-prod-btn .icon {
    font-size: 32px;
    padding-bottom: 5px;
}


.main-search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 6px;

    font-family: Google Sans;
    font-size: 16px;
    font-weight: normal;

    color: #fff;
    background-color: transparent;

    cursor: pointer;
}

.main-search-btn:hover {
    color: #ccc;
}

.main-search-btn .icon {
    font-size: 31px;
    padding-bottom: 5px;
    transform: scaleX(-1);
}

/* .page-mobile-nav.hide {
    display: none;
} */

.page-mobile-nav {
    display: none;
    flex-direction: row;
    /* gap: 2rem;
    gap: 0.5rem; */
    /* gap: 0.5rem; */

    background-color: #000;
    /* border-top: solid 1px rgba(255, 255, 255, 0.1); */

    padding: 0.5rem 0;
    padding-right: 0.5rem;
}

@media screen and (max-width: 600px) {
    .page-mobile-nav {
        display: flex;
    }
}

.page-mobile-nav .mobile-navigation {
    flex-grow: 1;
    /* height: 50px; */
    /* background-color: aqua; */

}

.page-mobile-nav .space {
    display: block;
    width: 50px;
    height: 100%;
    margin-right: 1rem;
}

.mobile-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */

    height: 100%;
}

.mobile-navigation li {
    height: 100%;
    width: 100%;
}

.mobile-navigation li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    height: 100%;

    text-decoration: none;
    font-size: 14px;
    /* font-weight: 500; */
    color: #ccc;
}

.mobile-navigation li a.active {
    color: rgb(90, 110, 245);
}

.mobile-navigation li a .icon {
    display: flex;
    height: 22px;
    width: 22px;
    border-radius: 4px;
    background-color: #ccc;

}

.mobile-navigation li a.active .icon {
    background-color: rgb(90, 110, 245);
}


/* @media screen and (max-width: 600px) {
    nav {
        display: none;
    }
} */