/* bc: #050505 */
/* content bc: #151515 */
/* content cards bc: #1f201d */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {

    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;

    background-color: #000000;
    color: white;

    font-family: Google Sans;
}


p {
    margin: 0;
}


/* nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-right: solid 1px #222;
    font-family: Google Sans;
} */

nav {
    border-bottom: solid 1px #222;
    font-family: Google Sans;

    background-image: url('https://images.unsplash.com/photo-1475257026007-0753d5429e10?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMGxlYWZ8ZW58MHx8MHx8fDA%3D');
    background-image: url('https://wallpapercave.com/wp/wp13952413.jpg');

    background-position: center;
    background-size: cover;
}

nav .gradient {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;

    background: linear-gradient(black, transparent 40%);
}

.nav-top {
    /* padding: 1rem 2rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* background-image: linear-gradient(black, transparent); */
}

.nav-top .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}

.nav-top .left .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 5px;
}

.nav-top .left .lable {
    font-size: 12px;
    font-weight: bold;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20px;
    gap: 4px;
    padding: 2px 6px;

    font-size: 12px;
    font-weight: bold;
    font-family: Google Sans;
    color: black;
    background-color: #fff;

    border-radius: 5px;
    border: none;
}

.add-btn .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 15px; */
    /* height: 15px; */

    font-size: 14px;
    margin-top: -2px;

    /* font-size: 12px;
    font-weight: bold;
    font-family: Google Sans; */
}




.nav-main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-main .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nav-main .title {
    font-size: 32px;
    font-weight: 500;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    padding: 0;
    margin: 0;
    gap: 2rem;

    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.navigation li a {
    text-decoration: none;
    color: inherit;
    opacity: 75%;
}

.navigation li a:hover {
    opacity: 100%;
}

.navigation li a.active {
    opacity: 100%;
}


.nav-main .right {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* .nav-main .metric-card {
    background-color: aqua;
} */

.metric-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    gap: 5px;

    padding: 1rem;
    border-radius: 1rem;

    background-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);

    cursor: pointer;

    transition:
        background-color 0.25s ease
}

.metric-card:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.metric-card .lable {
    font-size: 12px;
    opacity: 80%;
}

.metric-card .value {
    font-size: 24px;
    font-weight: 500;
}






/* .nav-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-left .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.nav-left .logo .left {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 5px;
}

.nav-left .logo .right {
    font-size: 14px;
    font-weight: 500;
}


.nav-right {
    width: 100%;
} */

/* .nav-left .header .logo .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
} */









































#nav-top {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem 0.2rem;
    /* padding: 1rem; */
}

#nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
}

#nav-logo .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#nav-logo .logo .right {
    font-size: 14px;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 5px;
}

#nav-logo .logo .left {
    font-weight: bold;
    font-size: 16px;
}

#prisjakt-logo {
    display: block;
    width: 25px;
    height: 25px;
}

.prisjakt-btn {
    width: 150px;
    padding: 6px 8px;

    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: space-between; */

    font-size: 14px;
    font-weight: bold;
    font-family: Google Sans;

    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.prisjakt-btn .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prisjakt-btn .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
}

#prisjakt-logo-small {
    width: 18px;
    height: 18px;

}

/* #nav-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
} */

#nav-main .lable {
    font-size: 10px;
    /* font-weight: 500; */
    color: #777;
}

#nav-main ul {
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 12px;
    /* font-weight: 500; */
    color: #eee;
}

#nav-main li a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    text-decoration: none;
    color: inherit;
    /* background-color: #333; */
    margin-bottom: 0.5rem;
    border-radius: 2px;
    /* background-color: #181818; */
    /* font-weight: 600; */
}

#nav-main li a .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: #aaa;
}

#nav-main li a:hover {
    /* background-color: #1a1a1a; */
    color: #fff;
    font-weight: 500;
}

#nav-main li a.active {
    background-color: #1a1a1a;
    color: #fff;
    font-weight: 500;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    /* Max width on page */
}

.note-section {
    /* padding: 1.5rem 2rem; */
    /* padding: 0.5rem 2rem; */
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    /* justify-content: center; */
    /* background-color: aqua; */
}

.note-section .note {
    font-size: 12px;
    /* font-weight: 500; */
}

.note-section .right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
}

.note-section .right .btn {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    color: black;

    width: 25px;
    height: 25px;
    border-radius: 50%;

    font-size: 16px;
    font-weight: bold;
}