/* bc: #050505 */
/* content bc: #151515 */
/* content cards bc: #1f201d */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Google Sans;
    color: white;
    background-color: black;

    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiDxqG7XCXj7EE0dZNWYGgmpgGPyV-Sr64NQ&s');
    background-image: url('https://rare-gallery.com/mocahbig/54866-Abstract-Swirl-HD-Wallpaper.jpg');


    background-position: center;
    background-size: cover;
}

#blur {
    display: flex;
    flex-direction: row;
    height: 100vh;


    /* padding: 1rem; */

    background-color: rgba(0, 0, 0, 0.6);

    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 15%, transparent 60%); */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)); */

    backdrop-filter: blur(50px);
    /* -webkit-backdrop-filter: blur(10px); */
}


p {
    margin: 0;
}



main {
    flex-grow: 1;
    display: flex;
    /* padding: 1rem; */
}

.page {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 1rem;
    gap: 1rem;
}