nav {
    border-bottom: solid 1px #222;
    font-family: Google Sans;

    background-image: url('https://images.unsplash.com/photo-1475257026007-0753d5429e10?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMGxlYWZ8ZW58MHx8MHx8fDA%3D');
    background-image: url('https://wallpapercave.com/wp/wp13952413.jpg');

    background-position: center;
    background-size: cover;

    /* padding: 1rem 2rem; */
}

.nav-main {
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    /* padding: 0 1rem; */
}

.nav-main-left {
    width: 100%;
    /* max-width: 750px; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    /* padding: 0 1rem 0 0; */
    /* padding-top: 0;
    padding-right: 0; */
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    /* background-color: aqua; */
}

.nav-main-left .navbar {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    /* background-color: aqua; */
    /* padding: 0 0.5rem; */
    /* justify-content: space-between; */
    /* gap: 1rem; */
    /* background-color: aqua; */
}

.prodnest-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    padding: 1rem 0;
    /* padding-bottom: 0; */
    /* margin: 0.5rem;
    padding: 0.5rem; */
    /* margin-bottom: 0; */
    /* margin: 0.5rem; */

    /* border-right: solid 0.1rem #333; */
    /* background-color: rgb(108, 108, 24); */
}

.prodnest-logo .left {
    font-size: 12px;
    font-weight: bold;
}

.prodnest-logo .right {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0 4px;
    border-radius: 5px;
    height: 20px;
}

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    /* background-color: rgb(52, 52, 52); */
    flex-grow: 1;
    /* margin-bottom: 0.5rem; */
    padding: 0.5rem 0;
    /* padding: 0 2rem; */
    /* padding-top: 0.5rem; */
}

.nav-header .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
    /* padding: 0.25rem 1rem; */
    gap: 0.6rem;
    /* padding-bottom: 0.5rem; */
    /* padding-left: 1rem; */
    /* padding-top: 0; */
    /* gap: 0.5rem; */

    /* background-color: aqua; */
}


.nav-header .title {
    font-size: 28px;
    /* font-size: 16px; */
    font-weight: 500;
    /* padding: 0.5rem 0; */
    /* margin-bottom: 10px; */

}

.nav-header .lable {
    font-size: 14px;
    font-weight: normal;
    opacity: 80%;
    text-wrap: nowrap;
    /* font-style: italic; */
    /* padding: 5px 0; */
}

.nav-header .add-product {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    color: #000000;

    width: 30px;
    height: 30px;

    border-radius: 50%;
}

.nav-header .inputs {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    gap: 1rem;
    /* background-color: aqua; */
}

.nav-header .inputs input {
    height: 35px;
    background-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
    border-radius: 50px;
    /* align-self: flex-start; */
    /* margin-top: 5px; */

    padding: 0 0.8rem;

    color: #fff;
    font-size: 14px;
    font-family: Google Sans;

    flex-grow: 1;
    /* font-weight: 100; */

    transition:
        background-color 0.2s ease
}

.nav-header .inputs input:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

/* .nav-header .inputs input::placeholder {
    color: rgb(255, 255, 255);
    opacity: 50%;
    font-weight: normal;
} */

.nav-header .inputs button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;
    width: 35px;

    border: none;
    border-radius: 50%;

    font-size: 28px;
    font-family: Google Sans;
    padding-bottom: 0.3rem;

    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;

    transition:
        background-color 0.2s ease
}

.nav-header .inputs button:hover {
    background-color: rgb(255, 255, 255);
}




.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    flex-grow: 1;
    /* background-color: aqua; */
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    height: 100%;

    padding: 0;
    margin: 0;
    gap: 0;

    font-size: 12px;
    font-weight: 500;
    color: #fff;

    /* border-radius: 10px; */
}

.navigation li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: inherit;
}

.navigation li input {
    height: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    /* background-color: rgba(0, 0, 0, 0.4); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
    border-radius: 50px;
    /* align-self: flex-start; */
    margin-top: 5px;

    padding: 0 0.8rem;

    color: #fff;
    font-size: 12px;
    font-family: Google Sans;
}

.navigation li:has(a:hover) {
    /* border-top: solid 2px white; */
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), transparent);
    /* padding-bottom: 2px; */
}

.navigation li:has(a.active) {
    border-top: solid 2px white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), transparent);
    padding-bottom: 2px;
}


.nav-main-right {
    width: 100%;
    /* flex-shrink: 1; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
    padding: 1rem 1.5rem;
}

.metric-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    flex-grow: 1;
    /* gap: 0.5rem; */

    padding: 1rem;
    border-radius: 1rem;

    background-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);

    /* font-family: Google Sans; */

    cursor: pointer;

    transition:
        background-color 0.2s ease
}

.metric-card.wide {
    flex-grow: 0;
}

.metric-card:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.metric-card .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}



.metric-card .lable {
    font-size: 12px;
    opacity: 80%;
}

.metric-card .value {
    font-size: 32px;
    font-weight: 500;
}

.metric-card .btn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;
    padding-bottom: 0.25rem;

    font-size: 24px;
    font-weight: 500;
    font-family: Google Sans;
    color: black;

    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;


    cursor: pointer;
}

.metric-card .btn:hover {
    background-color: white;
}



/* .metric-card .row.prod {
    gap: 0.5rem;
    margin-bottom: 5px;
} */

.metric-card .prod {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    /* flex-grow: 1; */
    /* background-color: aqua; */
    /* margin-bottom: 5px; */
}

.metric-card .prod-img {
    width: 40px;
    height: 40px;
    border-radius: 0.5rem;
}

.metric-card .prod-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* background-color: aqua; */
    height: 100%;
}

.metric-card .prod-values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}

.metric-card .prod-price-values {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

/* .metric-card .prod-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    gap: 1rem;
} */

/* .metric-card .infobox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
} */

/* .metric-card .infobox.right {
    align-items: end;
} */


.metric-card .prod-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    font-size: 12px;
    font-weight: 500;
    /* text-wrap: nowrap; */
}

.metric-card .prod-deal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    background-color: red;
    width: fit-content;
    border-radius: 50px;
    font-size: 8px;
    font-weight: bold;
    /* text-wrap: nowrap; */
}

.metric-card .prod-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    text-wrap: nowrap;
}

.metric-card .prod-status span {
    color: rgb(0, 191, 0);
}


/* 
.metric-card .deal-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}*/

.metric-card .prod-price {
    font-size: 12px;
    font-weight: bold;
    text-wrap: nowrap;
}

.metric-card .prod-price.before {
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    text-decoration: line-through;
    opacity: 80%;
}

.metric-card .prod-price.sale {
    color: red;
}