{% extends "layout.html" %}

{% block content %}

<div class="page" id="home-page">
    <div class="page-left">
        <div class="metric-cards">
            <div class="card">
                <div class="icon">
                    T
                </div>
                <div class="card-info">
                    <p class="lable">Total Products</p>
                    <p class="value">36</p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    O
                </div>
                <div class="card-info">
                    <p class="lable">On Sale</p>
                    <p class="value">6</p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    G
                </div>
                <div class="card-info">
                    <p class="lable">Last Group Visited</p>
                    <p class="value txt">PC Komponents</p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    A
                </div>
                <div class="card-info">
                    <p class="lable">Last App Used</p>
                    <p class="value txt">Wishlist</p>
                </div>
            </div>


        </div>
        <div class="page-section">
            <p>On Sale Right Now</p>
        </div>
        <!-- <div class="page-section">
            <p>graph for selected product above</p>
        </div> -->
    </div>
    <div class="page-section page-right">
        <p>Watchlist (text / graph - on no space left verticly)</p>
        <p>Graph (50/50 - in size)</p>
    </div>


</div>


{% endblock %}