{% extends "layout.html" %}

{% block content %}

<div class="page" id="page-home">

    <div class="page-row">
        <div class="page-card">
            <p>hehe</p>
        </div>
        <div class="page-card">
            <p>hehe</p>
        </div>
        <!-- <div class="page-card">
            <p>hehe</p>
        </div> -->
        <!-- <div class="page-card">
            <p>hehe</p>
        </div> -->
    </div>

    <div class="page-card">
        <p>hehe</p>
    </div>
</div>


{% endblock %}