{% extends "layout.html" %}

{% block content %}
<h1>All products</h1>

{% if products %}
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No products yet.</p>
{% endif %}
{% endblock %}