<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "Prodnest - Your nest for smarter buying" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/home.css') }}">
</head>

<body>
    <nav>
        <div class="nav-main">
            <div class="nav-main-left">
                <div class="navbar">
                    <div class="prodnest-logo">
                        <span class="left">Prod</span>
                        <span class="right">Nest</span>
                    </div>
                    <div class="navigation">
                        <ul>
                            <li>
                                <a href="/" class="active">
                                    <span class="icon"></span>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="/favorites">
                                    <span class="icon"></span>
                                    Products
                                </a>
                            </li>
                            <li>
                                <a href="/favorites">
                                    <span class="icon"></span>
                                    Watchlist
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <span class="icon"></span>
                                    Groups
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <span class="icon"></span>
                                    Settings
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <!-- <a href="/"> -->
                                <!-- <input type="search" placeholder="Quick search"> -->
                                <!-- </a> -->
                            </li>
                        </ul>
                    </div>
                    <!-- <button class="add-btn">
                        <span class="icon">+</span>
                        Add Product
                    </button> -->
                </div>
                <div class="nav-header">
                    <div class="header">
                        <p class="title">{{ header }}</p>
                        <!-- <div>
                            <input type="search">
                        </div> -->
                        <p class="lable">This is an example, short and descriptive</p>
                    </div>
                    <div class="inputs">
                        <button>
                            +
                        </button>
                        <input type="search" placeholder="Search in nest">

                    </div>
                </div>



                <!-- <div class="navigation">
                    <ul>
                        <li>
                            <a href="/" class="active">
                                <span class="icon"></span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/favorites">
                                <span class="icon"></span>
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <span class="icon"></span>
                                Groups
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <span class="icon"></span>
                                Apps
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>

            <div class="nav-main-right">
                <!-- <div class="metric-card">
                    <div class="row">
                        <span class="lable">Changes (24h)</span>
                    </div>
                    <div class="row">
                        <p class="value">8</p>
                    </div>
                </div> -->

                <!-- <div class="metric-card">
                    <div class="row">
                        <span class="lable">Deals</span>
                    </div>
                    <div class="row">
                        <p class="value">12</p>
                    </div>
                </div> -->

                <!-- <div class="metric-card">
                    <div class="row">
                        <span class="lable">Products</span>
                    </div>
                    <div class="row">
                        <p class="value">23</p>
                        <button class="btn">
                            +
                        </button>
                    </div>
                </div> -->

                <div class="metric-card wide">
                    <div class="row">
                        <span class="lable">Pinned Product</span>
                    </div>
                    <div class="row">
                        <div class="prod">
                            <img src="https://pricespy-75b8.kxcdn.com/product/standard/800/14365071.jpg" alt="Test"
                                class="prod-img">

                            <div class="prod-info">
                                <p class="prod-name">
                                    Gigabyte GeForce RTX 5080 WINDFORCE OC SFF 16GB
                                </p>
                                <div class="prod-values">
                                    <p class="prod-status"><span>●</span>In stock</p>

                                    <div class="prod-price-values">
                                        <!-- <span class="prod-deal">
                                            Sale
                                        </span> -->
                                        <!-- <p class="prod-price before">17 669 kr</p> -->
                                        <p class="prod-price">16 499 kr</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="metric-card wide">
                    <div class="row">
                        <span class="lable">Best Deal</span>
                    </div>
                    <div class="row">
                        <div class="prod">
                            <img src="https://pricespy-75b8.kxcdn.com/product/standard/800/13504252.jpg" alt="Test"
                                class="prod-img">

                            <div class="prod-info">
                                <p class="prod-name">
                                    Nutribullet Pro 907
                                </p>
                                <div class="prod-values">
                                    <p class="prod-status"><span>●</span>In stock</p>

                                    <div class="prod-price-values">
                                        <span class="prod-deal">
                                            Sale
                                        </span>
                                        <p class="prod-price before">1 599 kr</p>
                                        <p class="prod-price">849 kr</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>






        <!-- <div class="nav-left">
            <div class="logo">
                <span class="left">Pn</span>
                <span class="right">ProdNest</span>

            </div>
            <p>The Nest Overview</p>
            <div class="navigation">

            </div>
        </div>

        <div class="nav-right">

        </div> -->












        <!-- <div id="nav-top">
            <div id="nav-logo">
                <div class="logo">
                    <span class="right">Pn</span>
                </div>

                <span>&lt;|</span>
            </div>
        </div> -->

        <!-- <div id="nav-main">
            <span class="lable">Navigate</span>
            <ul>
                <li>
                    <a href="/" class="active">
                        <span class="icon"></span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/favorites">
                        <span class="icon"></span>
                        Products
                    </a>
                </li>
                <li>
                    <a href="/">
                        <span class="icon"></span>
                        Watchlist
                    </a>
                </li>
                <li>
                    <a href="/">
                        <span class="icon"></span>
                        Groups
                    </a>
                </li>
            </ul>
        </div> -->




        <!-- <div id="nav-top">
            <div id="nav-logo">
                <a href="https://www.prisjakt.no/" target="_blank">
                    <img src="https://pricespy-75b8.kxcdn.com/g/rfe/logos/logo_no_v2_light.svg" alt="Prisjakt"
                        id="prisjakt-img">
                </a>
                <span id="nav-logo-span">| Tracker</span>
            </div>

        </div>
        <div id="nav-bottom">
            <div id="nav-link-container">
                <a class="nav-link active" href="/">Dashboard</a>
                <a class="nav-link" href="/favorites">Products</a>
                <a class="nav-link" href="/">Watchlist</a>
                <a class="nav-link" href="/">Groups</a>

            </div>
            <div>
                <a class="nav-link" href="/">Settings</a>
            </div>

        </div> -->
        <!-- <a href="/">Home</a>
        <a href="/favorites">Favorites</a> -->
    </nav>

    <main>
        <!-- <div class="note-section">
            <p class="note"><strong>Note: </strong>ddr5 momory is now facking everyone's pockets, and its driving
                me
                crazy!</p>
            <div>
                <button>View</button>
                <button>Dismiss</button>
            </div>
        </div> -->
        {% block content %}{% endblock %}
    </main>
</body>

</html>