<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "Prodnest - Your nest for smarter buying" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/home.css') }}">
</head>

<body>
    <nav>
        <div id="nav-top">
            <div id="nav-logo">
                <div class="logo">
                    <!-- <span class="left">Prod</span> -->
                    <!-- <span class="right">Nest</span> -->
                    <span class="right">Pn</span>
                </div>

                <span>&lt;|</span>
            </div>

            <!-- <a href="https://www.prisjakt.no/" target="_blank" style="text-decoration: none;">
                <button class="prisjakt-btn">
                    <span class="icon">
                        <img src="https://pricespy-75b8.kxcdn.com/g/rfe/logos/logo_v2_symbol.png" alt="Prisjakt logo"
                            style="width: 18px; height: 18px;">
                    </span>
                    Prisjakt
                </button>
            </a> -->
        </div>

        <div id="nav-main">
            <span class="lable">Navigate</span>
            <ul>
                <li>
                    <a href="/" class="active">
                        <span class="icon"></span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/favorites">
                        <span class="icon"></span>
                        Products
                    </a>
                </li>
                <li>
                    <a href="/">
                        <span class="icon"></span>
                        Watchlist
                    </a>
                </li>
                <li>
                    <a href="/">
                        <span class="icon"></span>
                        Groups
                    </a>
                </li>
            </ul>
        </div>




        <!-- <div id="nav-top">
            <div id="nav-logo">
                <a href="https://www.prisjakt.no/" target="_blank">
                    <img src="https://pricespy-75b8.kxcdn.com/g/rfe/logos/logo_no_v2_light.svg" alt="Prisjakt"
                        id="prisjakt-img">
                </a>
                <span id="nav-logo-span">| Tracker</span>
            </div>

        </div>
        <div id="nav-bottom">
            <div id="nav-link-container">
                <a class="nav-link active" href="/">Dashboard</a>
                <a class="nav-link" href="/favorites">Products</a>
                <a class="nav-link" href="/">Watchlist</a>
                <a class="nav-link" href="/">Groups</a>

            </div>
            <div>
                <a class="nav-link" href="/">Settings</a>
            </div>

        </div> -->
        <!-- <a href="/">Home</a>
        <a href="/favorites">Favorites</a> -->
    </nav>

    <main>
        <div class="note-section">
            <p class="note"><strong>Note: </strong>ddr5 momory is now facking everyone's pockets, and its driving
                me
                crazy!</p>
            <div>
                <button>More</button>
                <button>Dismiss</button>
            </div>

            <!-- <div class="right">
                <span class="btn">a</span>
                <span class="btn">b</span>
            </div> -->

            <!-- DETTE SKAL VÆRE NOTIFIKASJONER, MED ET IKON TIL VENSTRE OG TEXT TIL HØYRE, 
             MED DISMISS OG NEXT BUTTON TIL HØYRE. NÅR IKON TRYKKES PÅ SÅ VISES IKKE VARSLINGEN, 
             OG IKONET VIL KOMME OPP PÅ HØYRESIDEN.-->
        </div>
        {% block content %}{% endblock %}
    </main>
</body>

</html>