<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "Prodnest - Your nest for smarter buying" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/navbar.css') }}">
</head>

<body>
    <div id="blur">
        <nav>
            <div id="nav-box">
                <div class="nav-logo">
                    <p class="logo">
                        <span class="icon">0o</span>
                        <!-- Prodnest -->
                        Prodnest
                    </p>
                    <span class="hide-icon">🡠</span>
                </div>

                <div class="nav-main">
                    <!-- <input type="search" id="nav-quick-search" placeholder="Quick Search"> -->

                    <div class="navigation">
                        <ul>
                            <li>
                                <a href="/" class="active">
                                    <span class="icon"></span>
                                    <span class="lable">Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="/" class="">
                                    <span class="icon"></span>
                                    <span class="lable">Products</span>
                                </a>
                            </li>
                            <li>
                                <a href="/" class="">
                                    <span class="icon"></span>
                                    <span class="lable">Watchlist</span>
                                </a>
                            </li>
                            <li>
                                <a href="/" class="">
                                    <span class="icon"></span>
                                    <span class="lable">Groups</span>
                                    <span class="icon r">v</span>
                                </a>
                            </li>
                            <li>
                                <a href="/" class="">
                                    <span class="icon"></span>
                                    <span class="lable">Apps</span>
                                    <span class="icon r">v</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="bottom">
                            <li>
                                <a href="/" class="">
                                    <span class="icon"></span>
                                    <span class="lable">Notifications</span>
                                    <span class="icon r">27</span>
                                </a>
                            </li>
                            <li>
                                <a href="/" class="">
                                    <span class="icon"></span>
                                    <span class="lable">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-bottom">
                        <button class="add-product-btn">
                            <span class="icon">+</span>
                            Add Product
                        </button>
                        <a href="https://www.prisjakt.no/" target="_blank" class="nav-prisjakt">
                            <div class="prisjakt">
                                <img src="https://pricespy-75b8.kxcdn.com/g/rfe/logos/logo_v2_symbol.png" alt="prisjakt"
                                    class="logo">
                                <p class="lable">
                                    Prisjakt
                                    <span>https://www.prisjakt.no</span>
                                </p>
                            </div>
                            <span class="icon">

                            </span>
                        </a>
                    </div>
                </div>
                <!-- <div class="nav-bottom">
                    <ul>
                        <li>
                            <a href="/">
                                <span class="icon"></span>
                                <span class="lable">Notifications</span>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <span class="icon"></span>
                                <span class="lable">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>

        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>


</body>

</html>